/** { margin:0; padding:0; }*/
html , body {
	/*background: #212121;*/
	color: #fff;
	font-family: Helvetica;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-size: 100%;
	/*background-image: url('/assets/slither-io-bg.jpg');*/
	/*background-image: url('/assets/bg5.png');*/
	/*background-repeat: repeat;*/
	background-color: #000;
	background-repeat: no-repeat;
	background-size: cover;
}

@font-face {
    font-family: 'Mirza', serif;
    /*src: url('http://www.miketaylr.com/f/kulminoituva.ttf');*/
}

#splash
{
	display: none;
	position: absolute;
	/*margin: auto;*/
	margin: 0px auto;
	top: 12.5%;
	left: 12.5%;
	width: 75%;
	height: 75%;
	background-color: black;
	opacity: 1.0;
	z-index:1001;
}
#splash > div
{
    display: inline-block;
    /*border: solid 5px #ff0000;*/
	vertical-align: middle;
	text-align: center;
	/*width: 90%;*/

	/*width: 50%;height:50%;*/
}
#nameContainer
{
	display: inline-block;
	/*position: fixed;*/
	width: 50%;
	height: 100%;
	/*vertical-align: middle;*/
	background-color: #ccc
}
#adContainer
{
	display: inline-block;
	width: 49%;
	height: 100%;
	background-color: #fff;
}
#name {
	display: inline;
    width: 50%;
	/*left-margin: 50%;*/
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	border: 2px solid;
	border-radius: 5px
}
#teamRed
{
    background-color: #ff0000; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border: 2px solid;
	border-radius: 5px
}
#teamBlue
{
    background-color: #0000ff; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border: 2px solid;
	border-radius: 5px
}
#btnStart
{
    background-color: green; /* Green */
    border: none;
    color: white;
	width: 75%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border: 2px solid;
	border-radius: 5px
}

/*
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}*/

#toast
{
	position: absolute;
	width: 50%;
	top: 32px;
	padding-top: 15px;
	padding-bottom: 5px;
	/*padding-left: 5px;
	padding-right: 5px;*/
	margin-top: 20px;
	margin-left: 25%;

	text-align: center;
	color: #b1b1b1;
	align-content: center;
	font-family: "Mirza";
	font-size: 1.5em;

	line-height:1em;

	border-radius: 10px;
	border-color: #ffff00;
	border-style: double;

	background-color: #000;
	background-color: rgba(0, 0, 0, 0.65);
	/*opacity: 0.5;*/

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

	z-index: 5;
	display: none; /* off by default */
}

#uiTopBar
{
	position: absolute;
	/*display: none;*/
	top: 0px;
	height: 32px;
	width: 100%;
	background: rgba(0,0,0,0.65);
	opacity: 0.85;
	z-index: 500;
}
#uiScoreRed
{
	position: absolute;
	/*display: none;*/
	top: 0px;
	height: 28px;
	width: 75px;
	background: rgba(255,0,0,0.9);
	border: 2px solid;
	border-color: gray;
}
#txtScoreRed
{
	font-size: 1.5em;
	text-align: center;
}
#uiScoreBlue
{
	position: absolute;
	/*display: none;*/
	top: 0px;
	height: 28px;
	right: 0px;
	width: 75px;
	background: rgba(0,0,204,0.9);
	border: 2px solid;
	border-color: gray;
	/*z-index: 500;*/
}
#txtScoreBlue
{
	font-size: 1.5em;
	text-align: center;
}

#viewport {
	/*opacity: 0.5;*/
	/*border:solid 1px #333;*/
	/*height : 100%;/*480px;*/
	/*margin: auto;*/
	/*left:0; right:0; top:0; bottom:0;*/
	/*position: absolute;*/
	/*width : 100%;/*720px;*/
	/*padding: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;*/

	/*padding: 0;
	margin: 0;*/
	/*border:solid 5px #259ce8;*/
	position: absolute;
	display: block;
	/*left: 0; top: 0;*/
	/*width:100%;height:100%; margin:0px;*/
	z-index: 4;
}
#prerend
{
	left: 0; top: 0;
	position: absolute;
	display: block;
	z-index: 3;
}
#tilemap
{
	left: 0; top: 0;
	position: absolute;
	display: block;
	z-index: 2;
}
