/** { margin:0; padding:0; }*/
html, body {
	/*background: #212121;*/
	color: #fff;
	font-family: Helvetica;
	margin: 0;
	height: 100%;
	overflow: auto;/*hidden;*/
	/*margin: 0 auto;*/
	/*padding: 0;*/
	/*width: 100%;*/
	/*height: 100%;*/
	/*background-size: 100% 100%;*/
	/*background-image: url('http://s3.amazonaws.com/com.dfeddon.wingdom/bg-splash.jpg');*/
	/*background-image: url('/assets/bg5.png');*/
	/*background-repeat: repeat;*/
	background-color: #000;
	background-repeat: no-repeat;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	/*overflow: hidden;*/
}

img 
{
	max-width: 100%;
}

@font-face {
    font-family: 'Mirza', serif;
    /*src: url('http://www.miketaylr.com/f/kulminoituva.ttf');*/
}

/*@viewport
{
	width: device-width;
	zoom: .5;
}*/
#viewport
{
	/*width: 100%;
	height: 100%;*/
}
#apprec
{
	display: none;
	position: fixed;
	margin: 0px auto;
	/*border-radius: 5px;*/
	bottom: 0px;
	left: 0px;
	width: 100%;
	/*height: 200px;*/
	/*background-image: url('./assets/screenshot1.png');*/
	background-color: #154781;/*970404;*/
	opacity: 0.95;
	z-index:1001;
	vertical-align: middle;
}
/*#rec-screenshot
{
	display: block;
	width: 100%;
*/
#rec-ss
{
	display: block;
	/*width: 100%;*/
	/*height: auto%;*/
}
#rec-img
{
	display: block;
	/*width: 100%;*/
	/*height: auto%;*/
}
/*.nickname
{
	pattern: "[a-zA-Z0-9]{5,8}";
}*/
#splash-phone
{
	display: none;/*block;*/
	position: fixed;
	width: 100%;
	/*width: 100%;*/
	height: 100%;
	overflow-y: scroll;/*hidden;*/
	/*margin: auto;*/
	/*margin: 0px auto;
	border-radius: 15px;*/
	/*top: 5%;
	left: 5%;
	height: 90%;
	width: 90%;*/
	padding: 10px;
	/*height: auto;*/
	/*background-color: #2e2e2e;*/
	/*background-image: url('http://s3.amazonaws.com/com.dfeddon.wingdom/bg-splash.jpg');*/
	background-color: #9B0000;
	background-size: cover;
	opacity: 0.75;
	z-index:1001;
}
#splash-phone > div
{
    display: inline-block;
    /*border: solid 5px #ff0000;*/
	vertical-align: middle;
	text-align: center;
	opacity: 1.0;
	border-radius: 5px;
	float: left;
	padding-bottom: 80px;
	/*width: 90%;*/

	/*width: 50%;height:50%;*/
}

#sideLeft
{
	display: inline-block;
	/*position: fixed;*/
	width: 100%;
	height: 100%;
	/*max-width: 600px;*/
	/*vertical-align: middle;*/
	background: transparent;
}
/*#sideRight
{
	display: inline-block;
	width: 50%;
	height: 100%;
	background: transparent;
}*/
#nickname-phone
{
	display: inline;
    width: 250px;
	/*left-margin: 50%;*/
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	border: 2px solid;
	border-radius: 5px;
	font-size: 16px;
}
#btnStart-phone
{
    background-color: green; /* Green */
    border: none;
    color: white;
	width: 50%;
    padding: 15px 15px 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
	font-family: Mirza;
	border: 2px solid;
	border-radius: 5px
}

a:link
{
	color:#fff;
}
a:visited
{
	color: lightblue;
}
h2
{
	font-size: 1.5em;
	font-family: Mirza;
	color: #FAF5AF;
}
.float {
    width:64;
	vertical-align: middle;
    display:inline-block;
}
.btn
{
	/*-webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
	background-color: transparent;
	border-color: transparent;
	border: none;
	outline: none;
}
#splash
{
	display: none;/*block;*/
	position: absolute;
	top: 50%;
	/*left: 50%;*/
	transform: translateY(-50%);
	/*transform: translateX(-50%);*/
	margin: auto;
	/*margin: 0px auto;*/
	border-radius: 15px;
	/*top: 7.5%;
	left: 7.5%;*/
	left: 7.5%;
	width: 85%;
	height: 85%;
	max-width: 1200px;
	/*background-color: #2e2e2e;*/
	background-color: #9B0000;
	opacity: 0.95;
	z-index:1001;
}

#splash > div
{
    display: inline-block;
    /*border: solid 5px #ff0000;*/
	vertical-align: middle;
	text-align: center;
	opacity: 1.0;
	border-radius: 5px;
	/*width: 90%;*/

	/*width: 50%;height:50%;*/
}
#nameContainer
{
	display: inline-block;
	/*position: fixed;*/
	width: 50%;
	height: 100%;
	max-width: 600px;
	/*vertical-align: middle;*/
	background: transparent;
}
#adContainer
{
	display: inline-block;
	width: 49%;
	height: 100%;
	background-color: #fff;
}
#nickname {
	display: inline;
    width: 50%;
	/*left-margin: 50%;*/
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	border: 2px solid;
	border-radius: 5px;
	font-size: 16px;
}
#teamRed
{
    background-color: #ff0000; /* Green */
    border: none;
    color: white;
    padding: 10px 10px 5px 5px;
	width: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
	font-family: Mirza;
	border: 2px solid;
	border-radius: 5px
}
#teamBlue
{
    background-color: #0000ff; /* Green */
    border: none;
    color: white;
    padding: 10px 10px 5px 5px;
	width: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
	font-family: Mirza;
	border: 2px solid;
	border-radius: 5px
}
#leftArrow
{
	padding-right: 30px;
}
#rightArrow
{
	padding-left: 30px;
}
#leftArrow-phone
{
	padding-right: 30px;
}
#rightArrow-phone
{
	padding-left: 30px;
}
#btnStart
{
    background-color: green; /* Green */
    border: none;
    color: white;
	width: 50%;
    padding: 15px 15px 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
	font-family: Mirza;
	border: 2px solid;
	border-radius: 5px
}

#cf1 {
  /*position:fixed;*/
  position:relative;
  height:200px;
  width:300px;
  margin:0 auto;
  /*top: 100px;*/
  /*top: 50%;
  transform: translateY(-50%);
  left: 75%;
  margin:0 auto;*/
}

#cf2 {
  position:relative;
  height:200px;
  width:300px;
  margin:0 auto;
}

/*.cf {
  position:relative;
  height:200px;
  width:300px;
  margin:0 auto;
}*/

.cf img {
	background-size: contain;
	width: 75%;
	height: 75%;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top:0;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 15s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 15s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
#f1 {
    /*background-color: lightblue;*/
}
#f2 {
    -webkit-animation-delay: -10s;
	opacity: 0;
    /*background-color: yellow;*/
}
#f3 {
	opacity: 0;
    -webkit-animation-delay: -5s;
    /*background-color: lightgreen;*/
}
/*
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}*/

#toast
{
	position: absolute;
	width: 50%;
	top: 32px;
	padding-top: 15px;
	padding-bottom: 5px;
	/*padding-left: 5px;
	padding-right: 5px;*/
	margin-top: 20px;
	margin-left: 25%;

	text-align: center;
	color: #b1b1b1;
	align-content: center;
	font-family: "Mirza";
	font-size: 1.5em;

	line-height:1em;

	border-radius: 10px;
	border-color: #ffff00;
	border-style: double;

	background-color: #000;
	background-color: rgba(0, 0, 0, 0.65);
	/*opacity: 0.5;*/

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

	z-index: 5;
	display: none; /* off by default */
}

#uiTopBar
{
	position: absolute;
	display: none;
	top: 0px;
	height: 32px;
	width: 100%;
	background: rgba(0,0,0,0.65);
	opacity: 0.85;
	z-index: 500;
	/* disallow text selection */
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	user-select: none;
}
#uiScoreRed
{
	position: absolute;
	/*display: none;*/
	top: 0px;
	height: 29px;
	width: 75px;
	background: rgba(155,0,0,0.9);
	border: 1px solid;
	border-color: gray;
	font-size: 20px;
}
#txtScoreRed
{
	font-size: 1.5em;
	text-align: center;
	font-family: Mirza;
	line-height: 40px;
}
#uiScoreBlue
{
	position: absolute;
	/*display: none;*/
	top: 0px;
	height: 29px;
	right: 0px;
	width: 75px;
	background: rgba(70,142,229,0.9);
	border: 1px solid;
	border-color: gray;
	font-size: 20px;
	vertical-align: middle;
	/*z-index: 500;*/
}
#txtScoreBlue
{
	font-size: 1.5em;
	text-align: center;
	font-family: Mirza;
	line-height: 40px;
}

#flagData
{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	/*border: 1px solid;*/
	text-align: center;
}

.flagContainer
{
	/*float: left; */
	display: inline-block;
	width: 32%;
}
.imgFlag
{
	width: 25;
	height: 25;
	display: inline-block;
	padding-top: 3px;
}
#flagRedData
{
	padding-left: 10px;
	color: #468EE5;
}
#flagMidRedData
{
	padding-right: 10px;
	color: #9B0000;
}
#flagMidBlueData
{
	padding-left: 10px;
	color: #468EE5;
}
#flagBlueData
{
	padding-right: 10px;
	color: #9B0000;
}
h5
{
	display: inline-block;
	vertical-align: middle;
	font-family: Mirza;
	font-size: 1.5em;
}

#uiInfoBar
{
	position: absolute;
	display: none;
	top: 33px;
	height: 10px;
	width: 100%;
	/*background: rgba(0,0,0,0.65);*/
	opacity: 0.85;
	z-index: 500;
	/* disallow text selection */
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	user-select: none;
}
#ibPing
{
	position: absolute;
	left: 15px;
	/*background: rgba(0,0,0,0.65);*/
	/*opacity: 0.85;*/
	font-family: 'Mirza', serif;
}
#lblPing
{
	/*position: absolute;
	left: 55px;*/
	/*font-family: 'Mirza', serif;
	font-size: 14px;*/
	opacity: 0.65
}
#ibFPS
{
	position: absolute;
	left: 125px;
	/*background: rgba(0,0,0,0.65);*/
	/*opacity: 0.85;*/
	font-family: 'Mirza', serif;
}
#lblFPS
{
	opacity: 0.65;
}
/*#txtFPS
{
	position: absolute;
	left: 150px;
}*/
#ibScore
{
	font-family: 'Mirza', serif;
	text-align: center;
}
#lblScore
{
	opacity: 0.65;
}
.txtInfo
{
	width: 25;
	height: 25;
	display: inline-block;
	padding-top: 3px;
}

#scoreboard
{
	position: absolute;
	display: none;
	top: 50px;/*32px;*/
	right: 0px;
	padding-right: 15px;
	padding-left: 30px;
	font-family: 'Mirza', serif;
	font-size: 16px;
	/*height: 10px;*/
	/*width: 250px;*/
	/*background: rgba(0,0,0,0.65);*/
	opacity: 0.85;
	z-index: 500;
	/* disallow text selection */
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	user-select: none;
}
#scoreslist
{
	/*columns: 1;
	-webkit-columns: 1;
	-moz-columns: 1;*/
	width: 150px;
}

#scoring
{
	display: none;
	padding-top: 15px;
}
#mylastscore
{
	font-family: 'Mirza', serif;
	font-size: 2em;
}
#myhighscore
{
	font-family: 'Mirza', serif;
	font-size: 1.25em;
}
#scoring-phone
{
	display: none;
	padding-top: 15px;
	background-color: 'blue';
}
#mylastscore-phone
{
	font-family: 'Mirza', serif;
	font-size: 2em;
}
#myhighscore-phone
{
	font-family: 'Mirza', serif;
	font-size: 1.25em;
}

#socialmedia
{
	/*top: 5px;*/
	text-align: center;
}
.twitter-share-button
{
	/*padding-top: 10px;*/
	vertical-align: middle;
}
.fb-like
{
	/*padding-top: -15px;*/
	vertical-align: middle;
}
#___ytsubscribe_0
{
	/*padding-top: 15px;*/
	/*display: block !important;*/
	position: relative;
	top: 50%;
	transform: translateY(+35%);
}
/*#scoreslist > tr
{
	font-size: 10px;
}*/

/*#scoreboard > li
{
	position: relative;
}
#scoreboard > p
{
	text-align: right;
}
.leaderRow
{
}*/

#mobile-controls-l
{
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100px;
	width: 50%;
	z-index: 15;
}
#mobile-controls-r
{
	display: none;
	position: absolute;
	bottom: 0;
	right: 0;
	height: 100px;
	width: 250;
	z-index: 16;
}
#dirL
{
	/*position: absolute;*/
	/*z-index: 16;*/
	/*display: block;*/
	width: 100px;
	height: 100px;
	bottom: 50;
	left: 50;
	border-radius: 100%;
	border: 3px solid black;
	background-color: white;
	opacity: 0.5;
	/* disallow text selection */
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	user-select: none;
}

#dirR
{
	/*position: absolute;*/
	/*z-index: 17;*/
	/*display: block;*/
	width: 100px;
	height: 100px;
	bottom: 50;
	left: 250;
	border-radius: 100%;
	border: 3px solid black;
	opacity: 0.5;
	background-color: white;
	/* disallow text selection */
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	user-select: none;
}

#flap
{
	/*position: absolute;*/
	/*z-index: 18;*/
	/*display: block;*/
	width: 250px;
	height: 100px;
	bottom: 50;
	right: 50;
	border-radius: 5%;
	border: 3px solid black;
	opacity: 0.5;
	background-color: white;
	/* disallow text selection */
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	user-select: none;
}

#viewport {
	/*opacity: 0.5;*/
	/*border:solid 1px #333;*/
	/*height : 100%;/*480px;*/
	/*margin: auto;*/
	/*left:0; right:0; top:0; bottom:0;*/
	/*position: absolute;*/
	/*width : 100%;/*720px;*/
	/*padding: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;*/

	/*padding: 0;
	margin: 0;*/
	/*border:solid 5px #259ce8;*/
	position: absolute;
	display: block;
	/*left: 0; top: 0;*/
	/*width:100%;height:100%; margin:0px;*/
	z-index: 4;
}
#prerend
{
	left: 0; top: 0;
	position: absolute;
	display: block;
	z-index: 3;
}
#tilemap
{
	left: 0; top: 0;
	position: absolute;
	display: block;
	z-index: 2;
}
