/** { margin:0; padding:0; }*/
html, body {
	/*background: #212121;*/
	color: #fff;
	font-family: Helvetica;
	margin: 0;
	height: 100%;
	overflow: hidden;/*auto;/*hidden;*/
	/*margin: 0 auto;*/
	/*padding: 0;*/
	/*width: 100%;*/
	/*height: 100%;*/
	/*background-size: 100% 100%;*/
	/*background-image: url('http://s3.amazonaws.com/com.dfeddon.wingdom/bg-splash.jpg');*/
	/*background-image: url('http://s3.amazonaws.com/com.dfeddon.wingdom/bg5.png');*/
	/*background-repeat: repeat;*/
	background-color: #000;
	background-repeat: no-repeat;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	/*overflow: hidden;*/
}

img 
{
	max-width: 100%;
}

@font-face {
    font-family: 'Mirza', serif;
    /*src: url('http://www.miketaylr.com/f/kulminoituva.ttf');*/
}

/*@viewport
{
	width: device-width;
	zoom: .5;
}*/
#viewport
{
	/*width: 100%;
	height: 100%;*/
}
#apprec
{
	display: none;
	position: fixed;
	margin: 0px auto;
	/*border-radius: 5px;*/
	bottom: 0px;
	left: 0px;
	width: 100%;
	/*height: 200px;*/
	/*background-image: url('.http://s3.amazonaws.com/com.dfeddon.wingdom/screenshot1.png');*/
	background-color: #154781;/*970404;*/
	opacity: 0.95;
	z-index:1001;
	vertical-align: middle;
}
/*#rec-screenshot
{
	display: block;
	width: 100%;
*/
#rec-ss
{
	display: block;
	/*width: 100%;*/
	/*height: auto%;*/
}
#rec-img
{
	display: block;
	/*width: 100%;*/
	/*height: auto%;*/
}
/*.nickname
{
	pattern: "[a-zA-Z0-9]{5,8}";
}*/
#splash-phone
{
	display: none;/*block;*/
	position: fixed;
	width: 100%;
	/*width: 100%;*/
	height: 100%;
	overflow-y: scroll;/*hidden;*/
	/*margin: auto;*/
	/*margin: 0px auto;
	border-radius: 15px;*/
	/*top: 5%;
	left: 5%;
	height: 90%;
	width: 90%;*/
	padding: 10px;
	/*height: auto;*/
	/*background-color: #2e2e2e;*/
	/*background-image: url('http://s3.amazonaws.com/com.dfeddon.wingdom/bg-splash.jpg');*/
	background-color: #9B0000;
	background-size: cover;
	opacity: 0.75;
	z-index:1001;
}
#splash-phone > div
{
    display: inline-block;
    /*border: solid 5px #ff0000;*/
	vertical-align: middle;
	text-align: center;
	opacity: 1.0;
	border-radius: 5px;
	float: left;
	padding-bottom: 80px;
	/*width: 90%;*/

	/*width: 50%;height:50%;*/
}

#sideLeft
{
	display: inline-block;
	/*position: fixed;*/
	width: 100%;
	height: 100%;
	/*max-width: 600px;*/
	/*vertical-align: middle;*/
	background: transparent;
}
/*#sideRight
{
	display: inline-block;
	width: 50%;
	height: 100%;
	background: transparent;
}*/
#nickname-phone
{
	display: inline;
    width: 250px;
	/*left-margin: 50%;*/
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	border: 2px solid;
	border-radius: 5px;
	font-size: 16px;
}
#btnStart-phone
{
    background-color: green; /* Green */
    border: none;
    color: white;
	width: 50%;
    padding: 15px 15px 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
	font-family: Mirza;
	border: 2px solid;
	border-radius: 5px
}

a:link
{
	color:#fff;
}
a:visited
{
	color: lightblue;
}
h2
{
	/*font-size: 20px;/*1.75em;*/
	font-family: "Mirza";
	color: #FAF5AF;
}
.float {
    width:64;
	vertical-align: middle;
    display:inline-block;
}
.btn
{
	/*-webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
	background-color: transparent;
	border-color: transparent;
	border: none;
	outline: none;
}

#splash
{
	display: none;/*block;*/
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*left: 50%;*/
	/*transform: translateY(-50%);*/
	/*transform: translateX(-50%);*/
	margin: auto;
	/*margin: 0px auto;*/
	/*border-radius: 15px;*/
	/*top: 7.5%;
	left: 7.5%;*/
	/*left: 7.5%;*/
	/*width: 85%;*/
	/*height: 85%;*/
	/*max-width: 1200px;*/
	/*background-color: #2e2e2e;*/
	/*background-color: #9B0000;*/
	/*background: transparent;*/
	background-image: url("http://s3.amazonaws.com/com.dfeddon.wingdom/screenshot2.png");
	background-size: cover;
	background-repeat: no-repeat;
	/*opacity: 0.95;*/
	z-index:1001;
}

/*#splash > div
{
    display: inline-block;
	vertical-align: middle;
	text-align: center;
	opacity: 1.0;
	border-radius: 5px;
}*/

#help
{
	margin-top: 15px;
	margin-left: 15px;
	float: left;
}
#socialmedia
{
	margin-top: 15px;
	margin-right: 15px;
	float: right;
	text-align: center;
	/*background-color: rgba(0, 0, 0, 0.75);*/
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
#legal
{
	position: absolute;
	bottom: 15px;
	right: 15px;
	float: right;
	text-align: center;
	font-size: 12px;
	/*background-color: rgba(0, 0, 0, 0.75);*/
}
#iogames
{
    position:absolute;
    /*width:300px;
    height:300px;*/
	font-family: Mirza;
   background: black;
	border-radius: 10px;
	border: 5px solid;
	border-color: black;
	padding:5px 5px 1px 5px;
    bottom:15px;
    /*right:25%;*/
    left:50%;
    /*margin-left:-150px;*/
}
#iogamesa
{
	color: lightgray;
}
#wrapper
{
	display: absolute;
	margin-top: 15%;
	margin-left: 5%;
	width: 90%;
	/*top: 50%;
	transform: translateY(-50%);*/
	/*vertical-align: middle;*/
	background-color: rgba(0, 0, 0, 0.75);
	border-radius: 10px;
	border-style: none;/*double;*/
	border-width: 5px;
	border-color: gold;
}
#title
{
	display: block;
	padding-top: 15px;
	margin: auto;
	width: 30%;
	/*background-color: rgba(0, 0, 0, 0.65);
	border-radius: 10px;*/
}
#holder
{
	display: flex;
	margin-top: 20px;
	width: 100%;
	overflow-y: hidden;
	vertical-align: middle;
	text-align: center;
}
#holder > div
{
	flex: 1;
}

#namewrapper
{
	display: relative;
	width: 45%;
	max-width: 350px;
	height: 175px;
	float: left;
	margin: auto;
	margin-left: 15px;
	vertical-align: middle;
	border-style: none;
	border-color: white;
	border-radius: 5px;
	border-width: 1px;
	/*float: left;*/
	/*background-color: rgba(0, 0, 0, 0.65);
	border-radius: 10px;*/
}

#nickname 
{
	/*display: inline;*/
	display: inline;
	float: none;
    width: 250px;
	margin-top: 20px;
	/*margin: auto;*/
	/*left-margin: 50%;*/
    padding: 15px 15px 15px 15px;
    /*margin: 8px 0;*/
    /*display: inline-block;*/
    border: 1px solid #ccc;
    box-sizing: border-box;
	border: 2px solid;
	border-radius: 5px;
	font-size: 23px;
	font-family: Mirza;
}

#btnStart
{
	display: block;
	float: none;
    background-color: green; /* Green */
    color: white;
	margin-top: 15px;
	width: 250px;
	/*margin: auto;*/
    padding: 15px 15px 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
	font-family: Mirza;
	border: 2px solid;
	border-radius: 5px
}

#respawnTimer
{
	padding-top: 30px;
	display: relative;
    font-family: Mirza, sans-serif;
    color: #fff;
    font-weight: 100;
    text-align: center;
    /*font-size: 30px;*/
}
#respawnWrapper
{
	display: none;
}
#respawnLabel
{
	font-size: 30px;
}
#timerSeconds
{
	font-family: sans-serif;
	font-size: 80px;
	/*border-style: solid;
	border-width: 5px;
	border-radius: 5px;
	border-color: yellow; */
}
#skinwrapper
{
	display: relative;
	height: 150px;
	width: 45%;
	/*max-width: 250px;*/
	float: right;
	margin-right: 5px;
	/*margin-top: 15px;*/
	border-style: none;
	border-color: white;
	border-radius: 5px;
	border-width: 1px;
}
#skinSelectLabel
{
	font-family: Mirza, serif;
	font-size: 30px;
}
/*#nameContainer
{
	display: inline-block;
	width: 50%;
	height: 100%;
	max-width: 600px;
	background-color: #9B0000;
}*/
#adContainer
{
	display: inline-block;
	width: 49%;
	height: 100%;
	background-color: #fff;
}
#teamRed
{
    background-color: #ff0000; /* Green */
    border: none;
    color: white;
    padding: 10px 10px 5px 5px;
	width: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
	font-family: Mirza;
	border: 2px solid;
	border-radius: 5px
}
#teamBlue
{
    background-color: #0000ff; /* Green */
    border: none;
    color: white;
    padding: 10px 10px 5px 5px;
	width: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
	font-family: Mirza;
	border: 2px solid;
	border-radius: 5px
}
#leftArrow
{
	padding-right: 30px;
}
#rightArrow
{
	padding-left: 30px;
}
#leftArrow-phone
{
	padding-right: 30px;
}
#rightArrow-phone
{
	padding-left: 30px;
}

#cf1 {
  /*position:fixed;*/
  position:relative;
  height:200px;
  width:300px;
  margin:0 auto;
  /*top: 100px;*/
  /*top: 50%;
  transform: translateY(-50%);
  left: 75%;
  margin:0 auto;*/
}

#cf2 {
  position:relative;
  height:200px;
  width:300px;
  /*margin:0 auto;*/
}

/*.cf {
  position:relative;
  height:200px;
  width:300px;
  margin:0 auto;
}*/

.cf img {
	background-size: contain;
	width: 75%;
	height: 75%;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top:0;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 15s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 15s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
#f1 {
    /*background-color: lightblue;*/
}
#f2 {
    -webkit-animation-delay: -10s;
	opacity: 0;
    /*background-color: yellow;*/
}
#f3 {
	opacity: 0;
    -webkit-animation-delay: -5s;
    /*background-color: lightgreen;*/
}
/*
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}*/

#toast
{
	position: absolute;
	width: 50%;
	top: 32px;
	padding-top: 15px;
	padding-bottom: 5px;
	/*padding-left: 5px;
	padding-right: 5px;*/
	margin-top: 20px;
	margin-left: 25%;

	text-align: center;
	color: #b1b1b1;
	align-content: center;
	font-family: "Mirza";
	font-size: 1.5em;

	line-height:1em;

	border-radius: 10px;
	border-color: #ffff00;
	border-style: double;

	background-color: #000;
	background-color: rgba(0, 0, 0, 0.65);
	/*opacity: 0.5;*/

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

	z-index: 5;
	display: none; /* off by default */
}

#uiTopBar
{
	position: absolute;
	display: none;
	top: 0px;
	height: 32px;
	width: 100%;
	background: rgba(0,0,0,0.65);
	opacity: 0.85;
	z-index: 500;
	/* disallow text selection */
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	user-select: none;
}
#uiScoreRed
{
	position: absolute;
	/*display: none;*/
	top: 0px;
	height: 29px;
	width: 75px;
	background: rgba(155,0,0,0.9);
	border: 1px solid;
	border-color: gray;
	font-size: 20px;
	/*text-shadow: 2px 2px black;*/
}
#txtScoreRed
{
	font-size: 1.5em;
	text-align: center;
	font-family: Mirza;
	line-height: 40px;
}
#uiScoreBlue
{
	position: absolute;
	/*display: none;*/
	top: 0px;
	height: 29px;
	right: 0px;
	width: 75px;
	background: rgba(70,142,229,0.9);
	border: 1px solid;
	border-color: gray;
	font-size: 20px;
	vertical-align: middle;
	/*text-shadow: 2px 2px black;*/
	/*z-index: 500;*/
}
#txtScoreBlue
{
	font-size: 1.5em;
	text-align: center;
	font-family: Mirza;
	line-height: 40px;
}

#flagData
{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	/*border: 1px solid;*/
	text-align: center;
}

.flagContainer
{
	/*float: left; */
	display: inline-block;
	width: 32%;
}
.imgFlag
{
	width: 25;
	height: 25;
	display: inline-block;
	padding-top: 3px;
}
#flagRedData
{
	padding-left: 10px;
	color: #468EE5;
}
#flagMidRedData
{
	padding-right: 10px;
	color: #9B0000;
}
#flagMidBlueData
{
	padding-left: 10px;
	color: #468EE5;
}
#flagBlueData
{
	padding-right: 10px;
	color: #9B0000;
}
h5
{
	display: inline-block;
	vertical-align: middle;
	font-family: Mirza;
	font-size: 1.5em;
}

#uiInfoBar
{
	position: absolute;
	display: none;
	top: 33px;
	height: 10px;
	width: 100%;
	/*background: rgba(0,0,0,0.65);*/
	/*opacity: 0.85;*/
	z-index: 500;
	/* disallow text selection */
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	user-select: none;
}
#ibPing
{
	position: absolute;
	left: 15px;
	/*background: rgba(0,0,0,0.65);*/
	/*opacity: 0.85;*/
	font-family: 'Mirza', serif;
}
#lblPing
{
	/*position: absolute;
	left: 55px;*/
	/*font-family: 'Mirza', serif;
	font-size: 14px;*/
	opacity: 0.65
}
#ibFPS
{
	position: absolute;
	left: 100px;
	/*background: rgba(0,0,0,0.65);*/
	/*opacity: 0.85;*/
	font-family: 'Mirza', serif;
}
#lblFPS
{
	opacity: 0.65;
}
/*#txtFPS
{
	position: absolute;
	left: 150px;
}*/
#ibRoundTimer
{
	font-family: 'Mirza', serif;
	font-size: 27px;
	text-align: center;
	color: #f9eec0;
	/*text-shadow: 2px 2px black;*/
}
#lblRoundTimer
{
	color: lightgrey;
	/*opacity: 0.65;*/
}
.roundInfo
{
	width: 50;
	height: 25;
	display: inline-block;
	padding-top: 3px;
}
.txtInfo
{
	width: 50;
	height: 25;
	display: inline-block;
	padding-top: 3px;
}

#scoreboard
{
	position: absolute;
	display: none;
	top: 50px;/*32px;*/
	right: 0px;
	padding-right: 15px;
	padding-left: 30px;
	font-family: 'Mirza', serif;
	font-size: 16px;
	/*height: 10px;*/
	/*width: 250px;*/
	/*background: rgba(0,0,0,0.65);*/
	opacity: 0.85;
	z-index: 500;
	/* disallow text selection */
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	user-select: none;
}
#scoreslist
{
	/*columns: 1;
	-webkit-columns: 1;
	-moz-columns: 1;*/
	width: 150px;
}

#scoring
{
	display: block;
	padding-top: 15px;
	text-align: center;
}
#mylastscore
{
	display: none;
	font-family: 'Mirza', serif;
	font-size: 2em;
}
#myhighscore
{
	font-family: 'Mirza', serif;
	font-size: 1.5em;
	color: gray;
}
#scoring-phone
{
	display: none;
	padding-top: 15px;
	background-color: 'blue';
}
#mylastscore-phone
{
	font-family: 'Mirza', serif;
	font-size: 2em;
}
#myhighscore-phone
{
	font-family: 'Mirza', serif;
	font-size: 1.25em;
}

.twitter-share-button
{
	/*padding-top: 10px;*/
	vertical-align: middle;
}
.fb-like
{
	/*padding-top: -15px;*/
	vertical-align: middle;
}
#___ytsubscribe_0
{
	/*padding-top: 15px;*/
	/*display: block !important;*/
	position: relative;
	top: 50%;
	transform: translateY(+35%);
}
#patreon
{
	vertical-align: middle;
	height: 29px;
}
/*#scoreslist > tr
{
	font-size: 10px;
}*/

/*#scoreboard > li
{
	position: relative;
}
#scoreboard > p
{
	text-align: right;
}
.leaderRow
{
}*/

#mobile-controls-l
{
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100px;
	width: 50%;
	z-index: 15;
}
#mobile-controls-r-off
{
	display: none;
	position: absolute;
	pointer-events: none;
	bottom: 0px;
	left: 0px;
	height: 150px;
	width: 100%;
	z-index: 16;
}
#mobile-controls-r
{
	display: none; /*flex*/
	flex-direction: row;
	position: absolute;
	bottom: 0px;
	height: 150px;
	width: 100%;
	pointer-events: none;
	/*overflow-y: hidden;*/
	/*vertical-align: middle;*/
	/*text-align: center;*/
	/*background-color: transparent;*/
	z-index: 150;
}
#nav
{
	order: 1;
	display: inline-block;
	pointer-events: none;
	bottom: 0px;
	height: 50px;
	width: 25%;
	opacity: 0.5;
	/*background-color: yellow;*/
	/*float: left;*/
}
#dirL
{
	display: inline-block;
	position: absolute;
	pointer-events: none;
	width: 50px;
	height: 50px;
	/*opacity: 0.5;*/
	left: 20px;
	bottom: 20px;
	/*background-color: transparent;*/
	content:url("http://s3.amazonaws.com/com.dfeddon.wingdom/ios-glide-left.png");
}
#dirR
{
	display: inline-block;
	position: absolute;
	pointer-events: none;
	width: 50px;
	height: 50px;
	/*opacity: 0.5;*/
	left: 100px;
	bottom: 20px;
	/*background-color: transparent;*/
	content:url("http://s3.amazonaws.com/com.dfeddon.wingdom/ios-glide-right.png");
}
#flip-div
{
	order: 2;
	display: inline-block;
	/*pointer-events: none;*/
	bottom: 0px;
	height: 50px;
	width: 50%;
	opacity: 0.5;
	/*background-color: blue;*/
	text-align: center;
	/*z-index: 60;*/
}
#flip-image
{
	display: inline-block;
	position: absolute;
	pointer-events: auto;
	/*width: 50px;
	height: 50px;*/
	/*opacity: 0.5;*/
	/*left: 20px;*/
	margin: 0 auto;
	/*margin-bottom: 0px !important;*/
	bottom: 20px;
	/*vertical-align: bottom*/
	/*background-color: transparent;*/
	content:url("http://s3.amazonaws.com/com.dfeddon.wingdom/controls-flip.png");
}
#flap-div
{
	order: 3;
	display: inline-block;
	pointer-events: none;
	bottom: 0px;
	height: 50px;
	width: 25%;
	opacity: 0.5;
	/*background-color: orange;*/
	text-align: center;
	/*float: right;*/
}
#flap-image
{
	display: inline-block;
	position: absolute;
	pointer-events: none;
	content:url("http://s3.amazonaws.com/com.dfeddon.wingdom/ios-flap-button.png");
	/*opacity: 0.5;*/
	right: 0px;
	bottom: 20px;
	/*float: right;*/
}
#mobile-controls-l
{
	display: none; /*flex*/
	flex-direction: row;
	position: absolute;
	bottom: 0px;
	height: 150px;
	width: 100%;
	pointer-events: none;
	/*overflow-y: hidden;*/
	/*vertical-align: middle;*/
	/*text-align: center;*/
	/*background-color: transparent;*/
	z-index: 150;
}
#nav-l
{
	order: 3;
	display: inline-block;
	pointer-events: none;
	bottom: 0px;
	height: 50px;
	width: 25%;
	opacity: 0.5;
	/*background-color: yellow;*/
	/*float: left;*/
}
#dirL-l
{
	display: inline-block;
	position: absolute;
	pointer-events: none;
	width: 50px;
	height: 50px;
	right: 100px;
	bottom: 20px;
	content:url("http://s3.amazonaws.com/com.dfeddon.wingdom/ios-glide-left.png");
}
#dirR-l
{
	display: inline-block;
	position: absolute;
	pointer-events: none;
	width: 50px;
	height: 50px;
	right: 20px;
	bottom: 20px;
	content:url("http://s3.amazonaws.com/com.dfeddon.wingdom/ios-glide-right.png");
}

#flip-div-l
{
	order: 2;
	display: inline-block;
	bottom: 0px;
	height: 50px;
	width: 50%;
	opacity: 0.5;
	text-align: center;
}
#flip-image-l
{
	display: inline-block;
	position: absolute;
	pointer-events: auto;
	/*height: 50px;*/
	margin: 0 auto;
	bottom: 20px;
	content:url("http://s3.amazonaws.com/com.dfeddon.wingdom/controls-flip.png");
}
#flap-div-l
{
	order: 1;
	display: inline-block;
	pointer-events: none;
	bottom: 0px;
	height: 50px;
	width: 25%;
	opacity: 0.5;
	/*background-color: orange;*/
	text-align: center;
	/*float: right;*/
}
#flap-image-l
{
	display: inline-block;
	position: absolute;
	pointer-events: none;
	content:url("http://s3.amazonaws.com/com.dfeddon.wingdom/ios-flap-button-rev.png");
	/*opacity: 0.5;*/
	left: 15px;
	bottom: 20px;
	/*float: right;*/
}

#level-ui
{
	/*border:solid 1px #aqua;*/
	pointer-events: none;
	z-index: 250;
	position: absolute;
	bottom: 5px;
	height: 100px;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
#abilities-container
{
	/*border:solid 1px red;*/
	/*width: 400px;*/
	order: 1;
	height: 90px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
#modifiers-container
{
	/*border:solid 1px white;*/
	/*width: 50%;*/
	width: 130px;
	height: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
#bonus-column
{
	width: 75px; /* pushes total circle into modifiers column */
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.modifier
{
	/*width: 90%;*/
	/*height: 20px;*/
	/*border:solid 1px gray;*/
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
#modify1-icon
{
	width: 50px;
	height: 10px;
	text-align: right;
	background-color: rgba(0, 0, 0, 0.5);;
	border:solid 1px #fff;
	font-size: 0.75em;
	padding-right: 2px;
	color: #CDC;
	font-family: 'Mirza', serif;
	/*font-weight: bold;*/
	/*width: 15px;
	height: 10px;
	background-image: url('https://s3.amazonaws.com/com.dfeddon.wingdom/flag-mid-r.png');
	background-size: cover;*/
}
#modify1-text
{
	order: 1;
	width: 25px;
	height: 10px;
	padding-left: 5px;
	/*font-family: 'Mirza', serif;*/
	background-color: #D0011B;
	border:solid 1px #F06576;
	font-size: 0.75em;
	padding-right: 2px;
	color: white;
	font-family: 'Mirza', serif;
	font-weight: bold;
	/*text-shadow: 2px 2px black;*/
}
/*#modify1-bar
{
	order: 2;
	width: 100%;
	height: 2px;
    background: cyan; 
	background-image: -webkit-linear-gradient(left, cyan, cyan 25%, gray 25%, gray);
	background-image: -moz-linear-gradient(left, cyan, cyan 25%, gray 25%, gray);
	background-image: -o-linear-gradient(left, cyan, cyan 25%, gray 25%, gray);
	background-image: linear-gradient(to right, cyan, cyan 25%, gray 25%, gray);
}*/
#modify2-icon
{
	width: 50px;
	height: 10px;
	text-align: right;
	background-color: rgba(0, 0, 0, 0.5);
	border:solid 1px #fff;
	font-size: 0.75em;
	padding-right: 2px;
	color: #CDC;
	font-family: 'Mirza', serif;
	/*font-weight: bold;*/
	/*width: 15px;
	height: 10px;
	background-image: url('https://s3.amazonaws.com/com.dfeddon.wingdom/fly1.png');
	background-size: cover;*/
}
#modify2-text
{
	order: 1;
	width: 25px;
	height: 10px;
	/*font-family: 'Mirza', serif;*/
	background-color: #417505;
	border:solid 1px #B8E986;
	padding-left: 5px;
	font-size: 0.75em;
	font-weight: bold;
	padding-right: 2px;
	color: #B8E986;
	font-family: 'Mirza', serif;
	/*text-shadow: 2px 2px black;*/
}
#modify3-icon
{
	width: 50px;
	height: 10px;
	text-align: right;
	background-color: rgba(0, 0, 0, 0.5);;
	border:solid 1px #fff;
	font-size: 0.75em;
	padding-right: 2px;
	color: #CDC;
	/*font-size: 10px;*/
	font-family: 'Mirza', serif;
	/*font-weight: bold;*/
	/*width: 15px;
	height: 10px;
	background-image: url('https://s3.amazonaws.com/com.dfeddon.wingdom/potion-1.png');
	background-size: cover;*/
}
#modify3-text
{
	order: 1;
	width: 25px;
	height: 10px;
	/*font-family: 'Mirza', serif;*/
	padding-left: 5px;
	background-color: #417505;
	border:solid 1px #B8E986;
	font-size: 0.75em;
	font-weight: bold;
	padding-right: 2px;
	color: #B8E986;
	font-family: 'Mirza', serif;
	/*text-shadow: 2px 2px black;*/
}
#bonus-total-container-positive
{
	border:solid;
	order: 2;
	width: 50px;
	height: 50px;
	background-color: #417505;/*rgba(0, 100, 0, 1); /* red: 255,0,0 */
	border-color: #B8E986;
	border-width: 1px;
	border-radius: 25px;
	/*text-shadow: 2px 2px black;*/
}
#bonus-total-container-negative
{
	border:solid;
	order: 2;
	width: 50px;
	height: 50px;
	background-color: #D0011B;/*rgba(255, 0, 0);*/
	border-color: #F06576;
	border-width: 1px;
	border-radius: 25px;
	/*text-shadow: 2px 2px black;*/
}
#bonus-total-title
{
	margin-left: 25%;
	margin-right: 25%;
	font-family: 'Mirza', small-caps;
	/*text-align: center;*/
	color: yellow;
	font-size: 0.25em;
}
#bonus-total-text
{
	/*border:solid 1px red;*/
	display: inline-block;
	/*margin-left: 30%;
	margin-right: 20%;*/
	width: 50px;
	text-align: center;
	vertical-align: center;
	/*transform-origin: center 50;*/
	line-height: 60px;
	font-family: 'Mirza', small-caps;
	/*font-weight: bold;*/
	font-size: 1.5em;
	color: #B8E986;
;
	/*order: 2;
	width: 50px;
	height: 50px;*/
	/*background-color: black;*/
	/*border-color: white;
	border-width: 5px;
	border-radius: 25px;*/
}
/*#modify2-bar
{
	order: 2;
	width: 100%;
	height: 2px;
    background: pink; 
	background-image: -webkit-linear-gradient(left, pink, pink 25%, gray 25%, gray);
	background-image: -moz-linear-gradient(left, pink, pink 25%, gray 25%, gray);
	background-image: -o-linear-gradient(left, pink, pink 25%, gray 25%, gray);
	background-image: linear-gradient(to right, pink, pink 25%, gray 25%, gray);
}*/
#bonusslot-container
{
	display: none;
	border:solid 1px gold;
	/*opacity: 0.25;*/
	width: 65px;
	height: 65px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	/*background-image:url("./assets/frame.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;*/
}
#roundslot-img
{
	/*background-image:url("./assets/frame.png");*/
}
#buffs-container
{
	/*border:solid 1px yellow;*/
	/*width: 50%;*/
	height: 100px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.buffslot-locked
{
	width: 45px;
	height: 45px;
	border:solid 0.5px black;
	opacity: 0.25;
	/*border-radius: 5px;*/
	background-color: gray;
	background-image:url("https://s3.amazonaws.com/com.dfeddon.wingdom/buffs/buff-lock.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.buffslot-empty
{
	width: 45px;
	height: 45px;
	border:solid 1px white;
	/*background-color: gold;*/
}
.buffslot-on
{
	width: 45px;
	height: 45px;
	border:solid 1px gold;
	background-color: black;
	background-size: contain;
}
#buff1
{
	order: 1;
}
#buff2
{
	order: 2;
}
#buff3
{
	order: 3;
}

#levelbar-padding1
{
	order: 2;
	height: 15px;
	display: flex;
}

#levelbar-container
{
	order: 3;
	border:solid 1px black;
	border-radius: 2px;
	/*opacity: 0.5;*/
	height: 5px;
	width: 50%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	background-color: rgba(0, 0, 0, 0.5);
}
#level-progressbar
{
	/*position: relative;*/
	align-self: flex-start;
	height: 3px;
	background-color: yellow;
	width: 0%;
}
#score-text-container
{
	/*border:solid 1px gold;*/
	position: absolute;
	bottom: 10px;
	height: 10px;
	width: 50%;/*50%;*/
	left: 25%;
	margin: auto;
	/*right: 25%;
	left: 25%;*/
	display: flex;
	flex-direction: center;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	z-index: 600;
	/*background-color: red;// rgba(0, 0, 0, 0.5);*/
}
#txtLevelC
{
	/*position: absolute;*/
	order: 1;
	color: yellow;
	/*flex-grow:1;*/
	align-self: flex-end;
	font-family: 'Mirza', serif;
	flex-wrap: nowrap;
	/*justify-content: flex-start;*/
	display: flex;
	/*text-shadow: 2px 2px black;*/
}
#txtScore
{
	order: 2;
	display: flex;
	/*flex-basis: 100%;*/
	/*left: 25%;*/
	/*flex-grow: 0;*/
	align-self: flex-end;
	font-family: 'Mirza', serif;
	font-size: 14px;
	/*text-align: center;*/
	color: white;
	/*opacity: 0.85;*/
	/*text-shadow: 2px 2px black;*/
}
#txtLevelN
{
	/*position: absolute;
	left: 10px;*/
	display: flex;
	order: 3;
	align-self: flex-end;
	font-family: 'Mirza', serif;
	/*text-shadow: 2px 2px black;*/
	/*flex-grow: 0;*/
	/*align-self: flex-end;*/
	/*flex-wrap: nowrap;*/
}

#viewport {
	/*opacity: 0.5;*/
	/*border:solid 1px #333;*/
	/*height : 100%;/*480px;*/
	/*margin: auto;*/
	/*left:0; right:0; top:0; bottom:0;*/
	/*position: absolute;*/
	/*width : 100%;/*720px;*/
	/*padding: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;*/

	/*padding: 0;
	margin: 0;*/
	/*border:solid 5px #259ce8;*/
	position: absolute;
	display: block;
	/*left: 0; top: 0;*/
	/*width:100%;height:100%; margin:0px;*/
	z-index: 4;
}
#prerend
{
	left: 0; top: 0;
	position: absolute;
	display: block;
	z-index: 3;
}
#tilemap
{
	left: 0; top: 0;
	position: absolute;
	display: block;
	z-index: 2;
}


/* HELP PANEL */
/*html, body {
  margin:0;
  padding:0;
}*/

#helper
{
	display: none;
	margin: 0;
	padding: 0;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: black;
}
#closeHelper
{
	margin-top: 15px;
	margin-left: 15px;
	float: left;
}

.comic {
  display:flex;
  flex-wrap:wrap;
  font-family: 'Mirza', serif;/*Comic Sans', cursive;*/
  padding:1vmin;
}

.panel {
  background-color:#fff;
  border:solid 2px #000;
  box-shadow:0 6px 6px -6px #000;
  display:inline-block;
  flex:1 1;
  height:200px;
  margin:1vmin;
  overflow:hidden;
  position:relative;
}

.text {
  background-color:#fff;
  color: black;
  border:solid 2px #000;
  margin:0;
  padding:3px 10px;
}

.top-left {
  left:-6px;
  position:absolute;
  top:-2px;
  transform:skew(-15deg);
}

.bottom-right {
  bottom:-2px;
  position:absolute;
  right:-6px;
  transform:skew(-15deg);
}

.speech {
  background-color:#fff;
  color: black;
  border:solid 2px #000;
  border-radius:12px;
  display:inline-block;
  margin:.5em;
  padding:.5em 1em;
  position:relative;
}

.speech:before {
  border:solid 12px transparent;
  border-left:solid 12px #000;
  border-top:solid 12px #000;
  bottom:-24px;
  content:"";
  height:0;
  left:24px;
  position:absolute;
  transform:skew(-15deg);
  width:0;
}

.speech:after {
  border:solid 10px transparent;
  border-left:solid 10px #fff;
  border-top:solid 10px #fff;
  bottom:-19px;
  content:"";
  height:0;
  left:27px;
  position:absolute;
  transform:skew(-15deg);
  width:0;
}

.panel:nth-child(1) {
  flex-basis: 400px;
}
.panel:nth-child(2) {
  flex-basis: 200px;
}
.panel:nth-child(3) {
  flex-basis: 200px;
}
.panel:nth-child(4) {
  flex-basis: 200px;
}
.panel:nth-child(5) {
  flex-basis: 200px;
}
.panel:nth-child(6) {
  flex-basis: 200px;
}
.panel:nth-child(7) {
  flex-basis: 400px;
}
.panel:nth-child(8) {
  flex-basis: 200px;
}
.panel:nth-child(9) {
  flex-basis: 200px;
}

/* background colours */

.panel:nth-child(4n+1) {
  background-image:radial-gradient(circle, yellow, orange);
}

.panel:nth-child(4n+2) {
  background-image:radial-gradient(circle, lightblue, deepskyblue);
}

.panel:nth-child(4n+3) {
  background-image:radial-gradient(circle, palegreen, yellowgreen);
}

.panel:nth-child(4n+4) {
  background-image:radial-gradient(circle, lightcoral, tomato);
}

#roundWinnersView
{
	flex-direction: column;
	flex-wrap: nowrap;
	display: none;/*flex;*/
	position: absolute;
	background-image: url("https://s3.amazonaws.com/com.dfeddon.wingdom/cards/castle-red.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/*top: 0px;
	left: 0px;*/
	overflow: hidden;
	width: 100%;
	height: 100%;
}
#winnerTop
{
	height: 10%;
	order: 1;
	/*border: solid 5px purple;*/
	/*background-image: url("./assets/winners-bg-top.png");*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}
#winnerBottom
{
	height: 20%;
	order: 3;
	/*border: solid 5px blue;*/
	/*background-image: url("./assets/winners-bg-bottom.png");*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}
#winnerInner
{
	flex-direction: row;
	flex-wrap: nowrap;
	order: 2;
	display: flex;
	/*position: absolute;*/
	/*background-image: url("./assets/roundWinners_ipad.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;*/
	/*top: 0px;
	left: 0px;*/
	/*overflow: hidden;*/
	width: 100%;
	height: 70%;
	/*border: solid 5px white;*/

}
#winnerLeft
{
	order: 1;
	/*border: solid 5px red;*/
	width: 20%;
	/*background-image: url("./assets/winners-bg-left.png");*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}
#winnerMid
{
	flex-direction: column;
	flex-wrap: nowrap;
	order: 2;
	display: flex;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	/*border: solid 5px yellow;*/
	width: 100%;/*60%;*/
	height: 100%;
	/*background-image: url("./assets/winners-bg-face.png");*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/*top: 0px;
	left: 0px;*/
	overflow: hidden;
	/*width: 100%;
	height: 100%;*/
}
#winnerRight
{
	order: 3;
	/*border: solid 5px green;*/
	width: 20%;
	/*background-image: url("./assets/winners-bg-right.png");*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}

#roundCompleteCallout
{
	display: none;
	position: absolute;
	text-align: center;
	/*width: 100%;*/
	left: 50%;
	transform: translate(-50%, -50%);
	float: left;
	/*text-shadow: 2px 2px black;*/
	top: 50%;
	z-index: 500;
	-webkit-animation: calloutFX 1s;
	animation: calloutFX 1s;
	-webkit-animation-play-state: paused;
	font-family: 'Mirza', serif;/*Comic Sans', cursive;*/
	font-size: 2em;
	color: white;
	/*background-color: gray;*/

	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 20px;
	/*margin-left: 25%;*/

	/*text-align: center;*/
	/*color: #b1b1b1;*/
	align-content: center;
	/*font-family: "Mirza";
	font-size: 1.5em;*/

	/*line-height:1em;*/

	border-radius: 10px;
	border-color: #ffff00;
	border-style: double;

	background-color: #000;
	background-color: rgba(0, 0, 0, 0.65);
	/*opacity: 0.5;*/

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

}
@-webkit-keyframes calloutFX 
{
    from {top: -100px;}
    to {top: 50%;}
}
@keyframes calloutFX 
{
    from {top: -100px;}
    to {top: 50%;}
}

.roundWinnersImg
{
	content:url("./assets/cards/roundWinners_ipad.gif");
    position : absolute;
    width    : 100%;
	height   : 100%;
    top      : 0px;
    /*z-index  : -1;*/
}

#winnersRow
{
	order: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	width: 100%;
	/*height: 30%;*/
	/*border: solid 5px gray;*/
}
.winner
{
	padding-top: 8vh;
	display: flex;
	flex-direction: column;
}
.winnerLabel
{
	text-align: center;
	font-family: 'Mirza', serif;/*Comic Sans', cursive;*/
	font-size: 1.3em;
}
.winnerImage
{
	display: block;
	margin: 0 auto;
	width: 5vw;
	max-width: 64px;
}
#winner1
{
	opacity: 0.0;
}
#winner2
{
	opacity: 0.0;	
}
#winner3
{
	opacity: 0.0;	
}
#cardsContainer
{
	flex-direction: row;
	flex-wrap: nowrap;
	order: 2;
	display: flex;
	/*align-self: flex-start;*/
	justify-content: space-around;
	align-content: center;
	align-items: center;
	/*border: solid 5px aqua;*/
	width: 100%;
}

.cardContainer {
    width: 15vw;
    height: 35vh;
	margin: 0;
    position: relative;
	-webkit-animation: dropdownFX 0.5s;
	animation: dropdownFX 0.5s;
	-webkit-animation-play-state: paused;
    /*border: 1px solid #ccc;*/
	/*border-radius: 10px;*/
	visibility: hidden;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}

@-webkit-keyframes dropdownFX 
{
    from {top: -300px;}
    to {top: 0px;}
}
@keyframes dropdownFX 
{
    from {top: -300px;}
    to {top: 0px;}
}

.roundCard
{
	width: 100%;
	height: 100%;
	/*background-color: brown;*/
	position: absolute;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}
.roundCard div
{
    display: block;
    /*border: 1px solid #ccc;
	border-radius: 10px;*/
	border-radius: 10px;
    height: 100%;
    width: 100%;
    line-height: 260px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 140px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.roundCard .cardback
{
	background-image: url('https://s3.amazonaws.com/com.dfeddon.wingdom/cards/cardback.png');
	background-size: 100% 100%;
}
.roundCard .cardfront
{
	background-image: url('https://s3.amazonaws.com/com.dfeddon.wingdom/cards/cardfront.png');
	background-size: 100% 100%;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
.roundCard.flipped
{
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
.roundCard. flippedBack
{
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
#card1
{
	order: 1;
}
#card2
{
	order: 2;
}
#card3
{
	order: 3;
}

#screen-splatter
{
	display: none;
	position: absolute;
	z-index: 450;
	width: 100%;
	height: 100%;
	opacity: .75;
	background-image: url('https://s3.amazonaws.com/com.dfeddon.wingdom/screen-splatter.gif');
	background-size: "cover";
	background-repeat: no-repeat;
	background-position: center;
	/*overflow: hidden;*/
}